<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-black text-decoration-none lh-1">
        <img src="https://cdn-icons-png.flaticon.com/512/1283/1283280.png" alt="logo" width="40" height="40" role="img"
          aria-label="integrationApp" />
      </a>
      <span class="text-black">Copyright &copy; Miloš Ilić 2022</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3">
        <a class="text-black" href="#"><svg class="bi" width="20" height="20">
            <use xlink:href="#twitter" />
          </svg></a>
      </li>
      <li class="ms-3">
        <a class="text-black" href="#"><svg class="bi" width="20" height="20">
            <use xlink:href="#instagram" />
          </svg></a>
      </li>
      <li class="ms-3">
        <a class="text-black" href="#"><svg class="bi" width="20" height="20">
            <use xlink:href="#facebook" />
          </svg></a>
      </li>
    </ul>
  </footer>
</div>