<header class="p-3 mb-3 border-bottom border-primary border-4 bg-black text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <img src="https://cdn-icons-png.flaticon.com/512/1283/1283218.png" alt="logo" class="bi me-2" width="40"
          height="40" role="img" aria-label="integrationApp" />
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 text-white">Home</a></li>
        <li>
          <a href="/integrationList" class="nav-link px-2 text-white">Integration List</a>
        </li>
        <li><a href="/inbox" class="nav-link px-2 text-white">Inbox</a></li>
        <li><a href="/docs" class="nav-link px-2 text-white">Docs</a></li>
        <li><a href="/about" class="nav-link px-2 text-white">About</a></li>
      </ul>

      <div class="dropdown text-end">
        <a href="#" class="d-block link-primary text-decoration-none dropdown-toggle" id="dropdownUser1"
          data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://cdn-icons-png.flaticon.com/512/1876/1876736.png" alt="person" width="40" height="40"
            class="rounded-circle" />
        </a>

        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
          <li><a class="dropdown-item" href="/manage">Manage</a></li>
          <li>
            <hr class="dropdown-divider" />
          </li>
          <li><a class="dropdown-item" href="/signout">Sign out</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>